@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: #E3E9FF;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-card {
    background: #fff;
    padding: 70px 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    position: relative;
}

.heading {
    display: flex;
    align-items: center;
    gap: 30px;
}

.heading img {
    width: 8%;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e3e9ff9f;
    padding: 20px 40px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.todo-item label {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.todo-item input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 0;
    accent-color: #90a0da;
}

.todo-item div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.todo-item .todo-img {
    display: none;
    border: 0;
    cursor: pointer;
    padding: 8px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.todo-item:hover .todo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: img-trans .5s;
    -webkit-animation: img-trans .5s;
}

@keyframes img-trans {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.add-task {
    background: #90a0da;
    padding: 10px 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    gap: 20px;
    position: absolute;
    bottom: -26px;
    cursor: pointer;
}

.add-task button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    color: #02165c;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.popup-card {
    background: #fff;
    padding: 80px 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    animation: popup .5s;
    -webkit-animation: popup .5s;
}

@keyframes popup {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.popup-title {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: #44589e;
}

.form-popup {
    display: flex;
    width: 100%;
}

.input-value {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: 1px solid #44589e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    outline: 0;
}

.add-btn {
    background: #90a0da;
    padding: 10px;
    width: 200px;
    border: 1px solid #44589e;
    font-weight: bold;
    gap: 20px;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.cancel-section {
    position: relative;
}

.cancel-btn {
    position: absolute;
    top: -16.5rem;
    right: -5rem;
    cursor: pointer;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    background: #90a0da;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.error{
    background: lightcoral;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
    color: #8b0000;
    animation: error .8s;
    -webkit-animation: error .8s;
}

@keyframes error {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.done label{
    text-decoration: line-through;
}

.todo-input label{
text-transform: capitalize;
}